<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Room<%= roomId %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="plate" class="plate">
        <h1>room:<%= roomId %></h1>
        <div class="timer">
            <!--音声ファイルの読み込み-->
            <!--<audio id="sound-file" preload="auto">-->
            <!--	<source src="https://taira-komori.jpn.org/sound/anime01/Ikkyu_san.mp3" type="audio/mp3">-->
            <!--	<source src="" type="audio/wav">-->
            <!--</audio>-->
            <p class="hidden" id="restTime"></p>
        </div>
        
        <div class ="voting">
            <p class="hidden" id="votedCount"></p>
        </div>
        
        <div class="field">
            <% Object.keys(field.players).forEach( (id, i) => { %>
            <% let playerNo = field.players[id].playerNo %>
            <% let playerName = field.players[id].userName %>
            <% if(playerNo >= 0) { %>
                <div class="userArea shadow" id="userArea<%= playerNo %>">
                    <!--<p><%= id %></p>-->
                    <div class="userName" id="name<%= playerNo %>"><%= playerName %></div>
                    <img src="./images/cards/card.png" class="cards" id="card<%= playerNo %>">
                </div>
                <!-- モーダルエリアここから -->
                <div  class="modal fade" id="modalArea<%= playerNo %>" tabindex="-1" role="dialog" aria-labelledby="modalArea">
                  <!--<div class="modalBg" id="modalBg<%= playerNo %>"></div>-->
                  <!--<div class="modalWrapper">-->
                  <div class="modal-dialog" role="document">
                    <!--<div class="modalContents">-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <!--自分には投票できないように条件分岐-->
                        <% if (id == sessionId) { %>
                            <h1 class="votedPlayer">自分には投票できません。</h1>
                            <h1 class="attention hidden">既に投票済みです</h1>
                        <% } else { %>
                            <h1 class="votedPlayer"><%= playerName %>を人狼に投票しますか？</h1>
                            <h1 class="attention hidden">既に投票済みです</h1>
                            <button class ="vote btn btn-secondary" id="vote<%= playerNo %>" data-dismiss="modal">はい</button>
                        <% } %>
                        </div>
                    </div>
                    </div>
                    <div id="closeModal<%= playerNo %>" class="closeModal">
                    </div>
                  
                </div>
                <!-- モーダルエリアここまで -->
            <% } } ) %>
            
            </div>
        
        <h2 class="field">墓地</h2>
        
        <div class="field" id="cemetryField">
            
        <% Object.keys(field.players).forEach( (id, i) => { %>
        <% if(field.players[id].playerNo < 0) { %>
        <div class="cemetaryArea shadow" id="cemetaryArea<%= field.players[id].playerNo %>">
            <!--<p><%= id %></p>-->
            <img src="./images/cards/card.png" class="cards shadow" id="card<%= field.players[id].playerNo %>">
        </div>
        
        <% } }  ) %>
            <!-- 墓地モーダルエリアここから -->
                <div  class="modal fade" id="modalCemetary" tabindex="-1" role="dialog" aria-labelledby="modalCemetary">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">     
                            <h1 class="votedPlayer">誰にも投票しませんか？</h1>
                            <h1 class="attention hidden">既に投票済みです</h1>
                            <button class ="vote btn btn-secondary" id="voteCemetary" data-dismiss="modal">はい</button>
                        </div>
                    </div>
                    </div>
                  
                </div>
                <!-- モーダルエリアここまで -->

            
        </div>

        <div class="operation">
            <h2>操作ボタン</h2>
            <button id="toNight" type="button" class="btn btn-secondary mb-3">夜へ</button>
            <button id="toDate" class="btn btn-secondary mb-3">昼へ</button>
            <button id="result" class="btn btn-secondary mb-3">結果発表</button>
        </div>

        <div>
            <a type="button" class="btn btn-outline-danger mt-5" href="/">トップページへ戻る</a>
        </div>
        
        <!--結果表示のmodal-->
        <section  class="modal fade" id="modalArea">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalTitle"></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContents"></div>
            </div>
          </div>
        </section>
        <!-- モーダルエリアここまで -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/room.js"></script>
    </body>
</html>