<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Room<%= roomId %></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>room:<%= roomId %></h1>
        <div class="timer">
            <!--音声ファイルの読み込み-->
            <!--<audio id="sound-file" preload="auto">-->
            <!--	<source src="https://taira-komori.jpn.org/sound/anime01/Ikkyu_san.mp3" type="audio/mp3">-->
            <!--	<source src="" type="audio/wav">-->
            <!--</audio>-->
            <p class=" hidden" id="restTime">残り時間</p>
        </div>
        
        <div class="field">
            <% Object.keys(field.players).forEach( (id, i) => { %>
            <% let playerNum = field.players[id].playerNo %>
            <% let playerName = field.players[id].userName %>
            <% if(playerNum >= 0) { %>
                <div class="userArea" id="userArea<%= playerNum %>">
                    <!--<p><%= id %></p>-->
                    
                    <p id="name<%= playerNum %>"><%= playerName %></p>
                    <div class="card" id="card<%= playerNum %>"> </div>
                </div>
                <!-- モーダルエリアここから -->
                <section id="modalArea<%= playerNum %>" class="modalArea">
                  <div id="modalBg<%= playerNum %>" class="modalBg"></div>
                  <div class="modalWrapper">
                    <div class="modalContents">
                      <h1><%= playerName %>を人狼に投票しますか？</h1>
                    </div>
                    <div id="closeModal<%= playerNum %>" class="closeModal">
                      ×
                    </div>
                  </div>
                </section>
                <!-- モーダルエリアここまで -->
            <% } } ) %>
            
            </div>
        
        <h2 class="field">墓地</h2>
        
        <div class="field" id="cemetryField">
            
        <% Object.keys(field.players).forEach( (id, i) => { %>
        <% if(field.players[id].playerNo < 0) { %>
        <div class="userArea">
            <!--<p><%= id %></p>-->
            <div class="card" id="card<%= field.players[id].playerNo %>"> </div>
        </div>
        
        <% } }  ) %>
            
        </div>

        <h2>操作ボタン</h2>
        <button id="toNight">夜へ</button>
        <button id="toDate">昼へ</button>
        <button id="result">結果発表</button>
        <div class="test100">
            <form id="test">
                <input type="submit" value="test">
            </form>
        </div>
        
        <!-- モーダルエリアここから -->
        <!--<section id="modalArea" class="modalArea">-->
        <!--  <div id="modalBg" class="modalBg"></div>-->
        <!--  <div class="modalWrapper">-->
        <!--    <div class="modalContents">-->
        <!--      <h1>このプレイヤーを人狼に投票しますか？</h1>-->
        <!--    </div>-->
        <!--    <div id="closeModal" class="closeModal">-->
        <!--      ×-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</section>-->
        <!-- モーダルエリアここまで -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>