<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Room<%= roomId %></title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>room:<%= roomId %></h1>
        
        <div class="field">
        <% Object.keys(field.players).forEach( (id, i) => { %>
        <div class="userArea">
            <!--<p><%= id %></p>-->
            <p><%= field.players[id].userName %></p>
            <div class="card" id="card<%= i %>"> </div>
        </div>
        <% }) %>
        
        </div>
        
        <h2 class="field">墓地</h2>
        <div class="field" id="cemetryField">
                    <% for (let i = 0; i < 2 ; i++) { %>
        <div class="userArea">
            <div class="card" id="card<%=parseInt(field.playerNum) + i + 1%>"> </div>
        </div>
        <% } %>
        </div>

        <h2>操作ボタン</h2>
        <button id="toNight">夜へ</button>
        <button id="toDate">昼へ</button>
        <button id="result">結果発表</button>
        <div class="test100">
            <form id="test">
                <input type="submit" value="test">
            </form>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>